@import "compass/css3";
 body {
	 background-color: #3b3b3b;
}
 .loading {
	 position: fixed;
	 top: 20%;
	 left: 50%;
}
 .loading .bullet {
	 position: absolute;
	 padding: 5px;
	 border-radius: 50%;
	 background: #65a3ff;
	 animation: animIn 1s ease-in-out 0s infinite;
}
 .loading .bullet:nth-child(1) {
	 animation-delay: 0s;
}
 .loading .bullet:nth-child(2) {
	 animation-delay: 0.15s;
}
 .loading .bullet:nth-child(3) {
	 animation-delay: 0.3s;
}
 .loading .bullet:nth-child(4) {
	 animation-delay: 0.45s;
}
 @keyframes animIn {
	 0% {
		 transform: translateX(-100px);
		 opacity: 0;
	}
	 50% {
		 opacity: 1;
	}
	 100% {
		 transform: translateX(100px);
		 opacity: 0;
	}
}
 